main {
    border-top: 2px solid #EFEBE6;
    background-color: #E7E0D8;
    padding: 1.7rem;
    color: #643F24;
}

main h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .7rem;
}

.produto {
    background-color: #E7E0D8;
    padding: 1.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    position: relative;
    border: 1px solid #643F24;
    border-radius: 8px;
}

.fa-search,
.fa-times {
    color: #643F24;
    position: absolute;
    top: 0;
    right: 3px;
    margin: 8px 4px;
    cursor: pointer;
}

.produto img,
.produto-detalhe img {
    width: 150px;
    transition: .3s ease-in-out;
    border-radius: 7px;
}

.produto img:hover,
.produto-detalhe img:hover {
    transform: scale(1.1);
}

.produto .titulo-produto {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #643F24;
}

.preco-produto {
    font-weight: 600;
    font-size: 15px;
}

.card-detalhes {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-detalhe {
    position: relative;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    background-color: #E7E0D8;
    border: 1px solid #643F24;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.categoria-produto {
    background-color: rgb(161, 161, 161);
    color: #E7E0D8;
    padding: .4rem;
    border-radius: 4px;
    font-weight: 600;
}

.hidden {
    display: none;
}